@use "./styles/variables";
@use "./styles/typography";

// TODO: all of this and html will be moved to reset.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-sans);
  word-break: break-word;
  font-variant-numeric: slashed-zero;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
